.column {
  float: left;
  width: 33.33%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.tab {
  text-align: center;
  
}
.tablinks {
display: inline-block;
  background-color: #1965B2;
  padding: 20px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer; /* add this line */
  margin: 5px; /* add this line */
 
}
.item {
      
   background: rgb(25,101,178);
  
}
.icon {
  justify-content: center;
  display: flex;
}
 
